.mt-10 {
    margin-top: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

#copyright {
    color: #999;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}


.gwd-div-1e2m {
    position: absolute;
    left: 1.09%;
    width: 22.36%;
    top: 0.75%;
    height: 13.5%;
}
.gwd-div-ne6v {
    position: absolute;
    left: 1.27%;
    width: 45.45%;
    height: 77.5%;
    top: 15.25%;
  border:1px solid black;
}
.gwd-div-gc9e {
    position: absolute;
    left: 48%;
    width: 50.91%;
    height: 77.5%;
    top: 15%;
  border:1px solid black;

}


.gwd-div-1xqy {
    position: absolute;
    left: 2.18%;
    width: 43.64%;
    top: 17%;
    height: 10%;
   float: left;
       display: inline-block;

}
.gwd-div-1ou1 {
    position: absolute;
    left: 2.18%;
    width: 43.64%;
    height: 62.5%;
    top: 29.25%;
      border:1px solid black;

}
.gwd-div-1rq0 {
    position: absolute;
    width: 97.82%;
    height: 5.5%;
    left: 1.27%;
    top: 93.75%;

}
.gwd-div-15rb {
    width: 100%;
    height: 100%;
  border:1px solid black;
}
.gwd-page-18mb {
    width: 100%;
    height: 100%;
      border:1px solid black;
}